html, body{margin:0;padding:0;text-align:center;}
#page{width:780px;margin:4em auto;text-align:left;}
#top{margin:0;}
#top h1{margin:0;}
#main{float:left;width:520px;}
#content{margin:0 0 0 30px;padding:1em 0 0 0;}
.post{margin-bottom:4em;}
#sidebar{float:right;width:240px;padding-bottom:4em;}
#sidebar div{margin:0 30px 0 0;padding:1ex 1em;}
#footer{padding:1ex 1em 1ex 1em;margin:0;clear:both;}
body{background:#EEE;color:#000;font-size:80%;line-height:1.6em;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;border-top:10px solid #DDD;}
h1, h2, h3, h4, h5, h6{font-family:"Trebuchet MS", sans-serif;}
h1{font-size:1.5em;}
h2{font-size:1.4em;}
h3{font-size:1.3em;}
h4{font-size:1.2em;}
h5{font-size:1.1em;}
h6{font-size:1em;}
pre, code{font-size:1.2em;background-color:#FAFAFA;}
pre{width:100%;overflow:auto;border:1px solid #CCC;}
fieldset{border:none;}
label{cursor:pointer;}
.field label{display:block;}
input,textarea{border:1px solid #999;}
textarea{width:100%;font-size:1em;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
a{color:#000;}
a:visited{color:#663;}
a:hover{color:#636;}
.left{float:left;margin-right:1em;}
.right{float:right;margin-left:1em;}
span.highlight0{background-color:#FFFF99;}
span.highlight1{background-color:#FF99FF;}
span.highlight2{background-color:#99FFFF;}
span.highlight3{background-color:#FF9999;}
span.highlight4{background-color:#9999FF;}
#page{background:#fff url(img/page.png) repeat-y center top;color:inherit;}
#top{height:120px;background:#FFF url(img/spriteme2.png) no-repeat left top;background-position:-10px -10px;}
#top h1{height:80px;line-height:80px;margin:0 0 0 40px;padding-top:20px;color:#FFFFFF;}
#top h1 a{text-decoration:none;color:#FFFFFF;}
#top img{float:right;margin-top:10px;border:none;}
#top p{height:50px;line-height:50px;margin:0 0 0 40px;margin-top:-40px;color:#FFFFFF;}
.lettrine{float:left;color:#888;font-size:68px;line-height:55px;padding-top:1px;padding-right:5px;font-family:"Times New Roman";}
.day-date{padding-left:20px;margin-left:-25px;color:#888;background:transparent url(img/spriteme2.png) no-repeat left center;background-position:-10px -145px;font-style:italic;}
.post-title{color:#F90;background:transparent;margin-bottom:0;}
.post-title a{color:#F90;background:transparent;text-decoration:none;}
.post-info{margin-top:0;color:#FA0;background:transparent;padding-bottom:1ex;}
.post-info a{color:#FA0;background:transparent;text-decoration:none;}
.post-info img{margin-right:5px;border:none;}
.post-chapo{text-align:justify;}
.post-chapo blockquote{font-family:Georgia, serif;font-style:italic;background-color:#FAFAFA;}
.post-chapo img{border:none;}
.post-content{text-align:justify;}
.post-content blockquote{font-family:Georgia, serif;font-style:italic;background-color:#FAFAFA;}
.post-content img{border:none;}
.post-info-co{text-align:right;}
#trackbacks blockquote, #comments blockquote{border:1px solid #EEE;margin:1em 0;padding:1ex 1em;text-align:justify;background:#FAFAFA;}
#trackbacks pre, #comments pre{background-color:#F0F0F0;}
#comments div.me blockquote{border:1px solid #F4E3E3;margin:1em 0;padding:1ex 1em;text-align:justify;background:#FFEEEE;}
#comments div.me pre{background-color:#F5E4E4;}
#comments blockquote.comback_content, #comments div.me blockquote.comback_content{border:1px solid #F4E3E3;margin:1em 0;margin-left:1em;padding:1ex 1em;text-align:justify;background:#FFEEEE;}
#comments blockquote.comback_content pre, #comments div.me blockquote.comback_content pre{background-color:#F5E4E4;}
#sidebar div{border-bottom:1px solid #F0F0F0;color:inherit;}
#sidebar div ul{margin:0;padding:0;list-style:none;}
#sidebar h2, #sidebar h3{color:#9ED200;margin:0 0 1ex 0;}
#sidebar h3{font-size:1em;margin:0;}
#sidebar div#search{background:transparent;color:inherit;line-height:2.3em;}
#search fieldset, #search p{margin:0;padding:0;}
#q{padding-left:18px;background:#fff url(img/spriteme2.png) no-repeat 4px center;background-position:-6px -239px;}
#sidebar div#calendar{}
#sidebar div#calendar table{font-size:0.8em;text-align:center;margin:0 auto;border-collapse:collapse;}
#sidebar div#calendar table caption{margin:0 auto;}
#sidebar div#calendar table th{color:#493;background:transparent;}
#sidebar div#calendar table td{width:14%;line-height:2em;border:1px solid #EEE;}
#sidebar div#calendar table td a{display:block;background:#EFA;color:#493;font-weight:bold;text-decoration:none;}
#sidebar div#calendar table td a:hover{background:#DBB8DC;color:#636;}
#sidebar img{border:none;}
.rss a{background:url(img/rss-feed.png) no-repeat left 50%;padding-left:25px;}
.atom a{background:url(img/atom-feed.png) no-repeat left 50%;padding-left:25px;}
.feed{background:url(img/spriteme2.png) no-repeat left 50%;background-position:-10px -182px;padding-left:60px;color:#F90;}
#footer{margin:0;padding:1em;border-top:1px solid #CCC;background:#EEE;color:#666;}
#footer a{color:#999;}
#footer img{float:right;border:none;}
#galleries{}
#gallery{margin:10px;}
.gallery-thumbnail{float:left;margin:3px;padding:0px;padding-bottom:0;text-align:center;border:1px solid #ccc;}
.gallery-thumbnail-container img{display:block;margin:0px auto;border:0;}
.gallery-thumbnail-container{width:140px;height:110px;margin:5px;}
.gallery-thumbnail-desc{margin-left:0px;margin-right:0px;margin-top:5px;border-top:1px solid #ccc;background:#EEE;font-size:1em;}
.gallery-icone{}
.gallery-portrait{}
.gallery-image-title{display:block;text-align:center;}
.gallery-nb-comment{margin-top:1px;display:block;text-align:center;font-size:1em;}
.gallery-nb-comment a{font-size:1em;}
.gallery-nb-views{padding-bottom:1px;display:block;text-align:center;}
.gallery-thumbnail:hover{background:#EEE;}
.gallery-description{float:left;width:100%;line-height:normal;}
.gallery-description ul{margin:0;padding:0;list-style:none;}
.gallery-description li{float:left;margin:5px;padding:5px;width:210px;height:60px;border:1px solid #ccc;list-style:none;}
.gallery-description img{float:left;margin:10px 5px 5px 5px;height:40px;width:40px;border:1px solid #ccc;}
.gallery-description a{float:left;display:block;color:#000;text-decoration:none;}
.gallery-description li:hover{background:#eee;}
.gallery-all-thumbnails{margin:0px auto;width:100%;}
.gallery-spacer{display:block;clear:both;}
.gallery-enddescription{clear:both;margin-bottom:10px;padding:1px;}
.gallery-navigation{font-size:1.2em;color:#666;margin:10px;text-align:center;}
.gallery-image img{display:block;margin:0 auto;padding:8px;border:1px solid #000;background:#fff;}
.gallery-content blockquote{background:#EEE;border:1px solid #ccc;margin:10px 0;padding:10px;overflow:auto;}
.gallery-content blockquote p{margin:1ex 0;}
#gallery-last{}
.gallery-last-block{border:1px solid #ccc;border-top-width:2px;padding:0 0.5em;margin:0 0 1.5em 0;}
.gallery-last-title{background:#eceade;margin:0 -0.5em;padding:0.2em 0.5em;font-size:1em;font-family:Verdana,Arial,Helevetica,sans-serif;}
.gallery-last-info{margin:0;}
.gallery-last-info img{float:left;margin:2px 0 0 4px;position:relative;}
#gallery-exif{margin:0 0 0 0;padding:0 0 0 0;}
#gallery-exif dl{width:39.1em;margin:0 auto;padding:0;}
#gallery-exif dt{background:#EEE;width:15em;float:left;margin:0 0 0 0;padding:.5em;border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;font-weight:bold;}
#gallery-exif dd{float:left;background:#FFF;width:21em;margin:0 0 0 0;padding:.5em;border-top:1px solid #999;border-right:1px solid #999;border-bottom:1px solid #999;}
.plusone{float:right;margin-right:-1em;}
.tweetback{float:right;margin-right:-1em;}
